.credit {
  background-color: var(--color-green-alt);
  color: black;
}

.credit-active {
  background: var(--color-green);
}

.credit:hover {
  background: #ccc;
}

.credit-bg-image {
  background-image: url("../../../assets/img/credit/credit.png");
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
