.collision {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  width: 200px;
  overflow: hidden;
  line-height: 70px;
  height: 70px;
  text-align: center;
  position: relative;
}

a.collision {
  border: 1px solid black;
  color: black;
  z-index: 0;
}

a.collision::before,
a.collision::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: var(--color-green);
  top: 50%;
  border-radius: 50%;
  z-index: -1;
}

a.collision::before {
  transform: translate(-50%, -50%);
  left: -20px;
}

a.collision::after {
  transform: translate(50%, -50%);
  right: -20px;
}
a.collision:hover {
  color: white;
}

a.collision:hover::before {
  animation: move-left 0.8s both;
  animation-direction: alternate;
}
a.collision:hover::after {
  animation: move-right 0.8s both;
  animation-direction: alternate;
}

@keyframes move-left {
  0% {
    left: -20px;
  }
  50% {
    left: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    left: 50%;
    height: 400px;
    width: 400px;
  }
}

@keyframes move-right {
  0% {
    right: -20px;
  }
  50% {
    right: 50%;
    width: 20px;
    height: 20px;
  }
  100% {
    right: 50%;
    height: 400px;
    width: 400px;
  }
}
