.hidden-button {
  width: 38px;
  height: 38px;
  display: inline-flex;
  align-items: center;
  color: black;
  border-radius: 38px;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.5s;
  border: 1px solid black;
}

.hidden-button:hover {
  width: 140px;
  background-color: var(--color-green);
  color: white;
}
