.hero {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
  object-fit: cover;
  height: 90vh;
}

.hero img {
  max-width: 100%;
  position: absolute;
  transform: scale(1.2) translate(5%, -5%);
}

@media (max-width: 1199.98px) {
  .hero img {
    transform: scale(1.6) translate(10%, -5%);
  }
}

@media (max-width: 767.98px) {
  .hero img {
    transform: scale(1.9) translate(10%, -3%);
  }
}

@media (max-width: 575.98px) {
  .hero img {
    transform: scale(2.8) translate(10%, 0%);
  }
}

.hero > .container {
  position: relative;
  z-index: 2;
}

.hero,
.hero > .container > .row {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

@media (max-width: 767.98px) {
  .hero,
  .hero > .container > .row {
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
}

.hero p {
  color: #fff;
  font-size: 18px;
}

.hero.overlay:before {
  z-index: 10000;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.486);
}

.hero .heading {
  font-size: 60px;
  color: #fff;
  font-weight: 700;
}

@media (max-width: 991.98px) {
  .hero .heading {
    font-size: 40px;
  }
}

@media (max-width: 767.98px) {
  .hero .heading {
    font-size: 30px;
  }
}

.hero .play-button {
  font-size: 20px;
  color: #fff;
  display: inline-block;
  float: left;
}

.hero .play-button .caption {
  font-size: 16px;
}

.hero .play-button .icon-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  position: relative;
  display: inline-block;
  transition: 0.3s all ease;
}

.hero .play-button .icon-button:before {
  content: "";
  position: absolute;
  background: #fff;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 50%;
  visibility: visible;
  opacity: 1;
  transition: 0.3s all ease;
}

.hero .play-button .icon-button > span {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  color: #000;
  font-size: 12px;
}

.hero .play-button:hover .icon-button:before {
  transform: translate(-50%, -50%) scale(1.2);
}

.hero .photo-info {
  display: inline-block;
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: #fff;
}

.hero .photo-info [class^="icon-"] {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  margin-right: 15px;
}

.hero .photo-info a {
  color: #fff;
}
