/**
  * =======================================
  * 1 - Root
  * 2 - Typography Sizes
  * 3 - Buttons
  * 4 - Header
  * =======================================
*/

/**
  * =======================================
  * 1 - Root
  * =======================================
*/
/* styles/globals.css */
@import url("https://fonts.googleapis.com/css2?family=Brygada+1918:wght@400;500;600;700&display=swap");

:root {
  --font-family: "Brygada 1918", serif; /* Fonte padrão */

  /* Tamanhos de texto em rem */
  --font-size-small: 0.75rem; /* 12px */
  --font-size-medium: 1rem; /* 16px */
  --font-size-large: 1.25rem; /* 20px */
  --font-size-xl: 1.5rem; /* 24px */
  --font-size-xxl: 2rem; /* 32px */

  /* Cores */
  --color-green: #013220;
  --color-golden: #b68d40;
  --color-sky: #eff7ff;
  --color-text-alt: #555555;
  --color-green-alt: #01322009;
}

/**
  * =======================================
  * 2 - Typography Sizes
  * =======================================
*/
body {
  font-family: var(--font-family);
  font-size: var(--font-size-medium); /* Tamanho padrão */
}

h5 {
  color: #141313;
}
p {
  color: #646363;
}

.small-text {
  font-size: var(--font-size-small);
}

.medium-text {
  font-size: var(--font-size-medium);
}

.large-text {
  font-size: var(--font-size-large);
}

.xl-text {
  font-size: var(--font-size-xl);
}

.xxl-text {
  font-size: var(--font-size-xxl);
}

/**
  * =======================================
  *  - Default Styles
  * =======================================
*/
a {
  text-decoration: none;
}

a {
  color: var(--color-green);
}

a:hover {
  color: var(--color-golden);
}

.text-green {
  color: var(--color-green);
}

.text-golden {
  color: var(--color-golden);
}
.bg-green {
  background-color: var(--color-green);
}

.bg-green-alt {
  background-color: var(--color-green-alt);
}

.bg-golden {
  background-color: var(--color-golden);
}

.my-60 {
  margin: 60px 0;
}

.py-100 {
  padding: 100px 0;
}

.text-alt {
  color: var(--color-text-alt);
}

.credit-text-width {
  width: 70%;
}

.credit-hover:hover {
  background-color: #064b32;
}

@media (min-width: 375px) and (max-width: 991px) {
  .credit-text-width {
    width: 100%;
  }
}

.section {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
@media (max-width: 991.98px) {
  .section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}
.section .subheading {
  color: #f17945;
}
.section .heading {
  font-size: 46px;
  color: #343661;
  font-weight: 700;
}
@media (max-width: 991.98px) {
  .section .heading {
    font-size: 30px;
  }
}

.mb-120 {
  margin-bottom: 220px;
}
.my-120 {
  margin-top: 120px;
  margin-bottom: 120px;
}

.mt-120 {
  margin-top: 120px;
}

html,
body {
  overflow-x: hidden;
}

.view-height-100 {
  height: 100vh;
}

.view-height-80 {
  height: 75vh;
}

.view-height-75 {
  height: 75vh;
}

.vh-70 {
  height: 70vh;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}
