
:root {
  --color-green: #013220;
  --color-golden: #b68d40;
  --color-sky: #eff7ff;
  --color-text-alt: #555555;
  --color-green-alt: #013220d2;
  --color-blue: #EFF7FF;
}

body {
  font-family: "Brygada 1918", serif;
}

p {
  color: #646363;
}

a {
  color: var(--color-green);
  text-decoration: none;
}

.text-green {
  color: var(--color-green);
}

.text-golden {
  color: var(--color-golden);
}
.bg-green {
  background-color: var(--color-green);
}

.bg-green-alt {
  background-color: var(--color-green-alt);
}

.bg-golden {
  background-color: var(--color-golden);
}

.bg-blue {
  background-color: var(--color-blue);
}

.my-60 {
  margin: 60px 0;
}

.py-100 {
  padding: 100px 0;
}

.text-alt {
  color: var(--color-text-alt);
}

.credit-text-width {
  width: 70%;
}

.credit-hover:hover {
  background-color: #064b32;
}

@media (min-width: 375px) and (max-width: 991px) {
  .credit-text-width {
    width: 100%;
  }
}

.section {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
@media (max-width: 991.98px) {
  .section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.mb-120 {
  margin-bottom: 220px;
}
.my-120 {
  margin-top: 120px;
  margin-bottom: 120px;
}

.mt-120 {
  margin-top: 120px;
}

html,
body {
  overflow-x: hidden;
}


.reveal-on-scroll {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 1.6s ease-out, transform 1.6s ease-out;
}

.reveal-on-scroll.visible {
  opacity: 1;
  transform: translateY(0);
}