.header {
  width: 100%;
  z-index: 9999999;
}

.topBar {
  background-color: #f8f9fa;
  border-bottom: 1px solid #e0e0e0;
  padding: 10px 0;
}

.navbar {
  transition: all 0.3s ease-in-out;
  z-index: 1050;
}

.nav {
  padding: 34px 0px;
}

@media (min-width: 0px) and (max-width: 991px) {
  .nav {
    padding: 0px;
  }

  .topBar {
    display: none;
  }

  .mobile {
    display: none;
  }

  .menuItem {
    border: 1px solid rgba(0, 0, 0, 0.192);
  }
  .menuItem:hover {
    background-color: var(--color-green);
    color: white;
  }

  .menuText {
    color: black;
  }

  .menuText:hover {
    color: white;
  }
}
