/* components/About/About.module.css */

.section {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

@media (max-width: 991.98px) {
  .section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.heading {
  font-size: 38px;
  color: var(--color-green);
  font-weight: 700;
}

@media (max-width: 991.98px) {
  .heading {
    font-size: 30px;
  }
}

.imageStack {
  position: relative;
  width: 100%;
  z-index: 2;
}

.imageStack__item__bottom {
  position: absolute;
  right: 10%;
  top: -50%;
  width: 65%;
  z-index: -1;
}

.imageStack__item__top {
  padding-top: 20px;
  padding-right: 30%;
  width: 70%;
}

.imageStack img {
  width: 100%;
  display: block;
  border: 10px solid #fff; /* Adicionando a borda nas imagens */
  box-shadow: 0 15px 30px -18px rgba(0, 0, 0, 0.2);
  margin-bottom: 220px;
}

/* components/About/About.module.css */

/* Classe específica para a seção 2 */
.section2 {
  padding: 10rem 0 !important;
}

@media (max-width: 991.98px) {
  .section2 {
    padding: 3rem 0 !important;
  }
}

.about-margin {
  margin: 120px 0px;
}
