@keyframes leafAnimation {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: translateY(-20px) rotate(10deg);
    opacity: 0.8;
  }
  100% {
    transform: translateY(0) rotate(-10deg);
    opacity: 0;
  }
}

.container {
  max-width: 1000px;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  position: relative;
  margin: 20px 0;
  width: 300px;
  height: 400px;
  background: #fff;
  transform-style: preserve-3d;
  transform: perspective(2000px);
  box-shadow: inset 300px 0 50px rgba(0, 0, 0, 0.5),
    0 20px 20px rgba(0, 0, 0, 0.5);
  transition: transform 1s, box-shadow 1s;
}

.card:hover {
  z-index: 10000;
  transform: perspective(2000px) rotate(-10deg);
  box-shadow: inset 20px 0 50px rgba(0, 0, 0, 0.5),
    0 10px 100px rgba(0, 0, 0, 0.5);
}

.card.leafAnimation {
  animation: leafAnimation 0.5s forwards;
}

.card .Box {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  box-sizing: border-box;
  transform-origin: left;
  z-index: 100000;
  transition: transform 1s cubic-bezier(0.15, 1.7, 0.84, 0.58);
  background: #111;
}

.card .Box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card:hover .Box {
  transform: rotateY(-135deg);
}

.card .details {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 20px;
  z-index: 1;
}

.cardNavigation {
  display: flex;
  justify-content: space-between;
  width: 100%; /* Para ocupar a largura total */
  transform: translateY(-50%); /* Para centralizar na linha vertical */
  z-index: 1000000; /* Para garantir que as setas estejam acima dos cards */
  padding: 0 20px; /* Adiciona algum espaço lateral */
}

.navIcon {
  font-size: 24px; /* Tamanho do ícone */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
  color: #000; /* Cor da seta */
}

.navIcon:hover {
  color: #111; /* Cor ao passar o mouse */
}
