/* Overlay.module.css */
.overlaySection {
  background-color: rgba(1, 50, 32, 0.7); /* Remove quotes */
  position: absolute; /* Ensure absolute positioning */
  top: 0; /* Align to top */
  left: 0; /* Align to left */
  right: 0; /* Align to right */
  bottom: 0; /* Align to bottom */
  z-index: 1; /* Control stacking order */
}
