.container {
  width: 100%;
  max-width: 1140px; /* Largura máxima padrão */
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.containerFluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.spacing {
  padding: 0 8px;
}
